/** CSS STYLE **/
:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light-brown: #f5f4f0;
  --orange: #fe8a02;
  --middle-orange: #EA7600;
  --brown: #42413c;
  --dark-brown: #2a2626;
  --dark-brown-transparent: #908d8b;
  --middle-brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark-brown);
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

h1, h2, h3 {
  font-family: Neucha, Tahoma, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  color: var(--orange);
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 60px;
  color: var(--orange);
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 34px;
  color: var(--orange);
}

.text-center {
  text-align: center;
}

.background {
  position: relative;
  background: var(--light-brown);
}

.background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}

.relative {
  position: relative;
}

.black-color {
  color: var(--dark-brown);
}

.white-color {
  color: var(--white);
}

.bg-brown {
  background-color: var(--brown);
}

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.7%;
}

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.7%;
}

.image-aside {
  position: absolute;
  top: 55px;
  right: -270px;
}

p {
  margin-top: 0;
}

.button {
  display: inline-block;
  padding: 12px 24px;

  font-weight: bold;
  color: var(--white);
  background-color: var(--orange);

  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: var(--white);
  background-color: var(--middle-orange);
}

.mt-24 {
  margin-top: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.video-section {
  position: relative;
}

.video-section::before {
  content:'';
  position: absolute;
  height: 120px;
  width: 100vw;
  bottom: -20px;

  background-color: var(--brown);
}

.video-link {
  display: inline-block;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.card-title {
  font-size: 52px;
}

.card-item {
  display: block;
  padding: 24px;

  background-color: var(--white);
  text-decoration: none;
}

.card-item:hover  {
  background-color: var(--orange);
  text-decoration: none;
}

.card-item:hover .card-number,
.card-item:hover h3,
.card-item:hover p {
  color: var(--white);
}

.card-item h3 {
  color: var(--orange);
  margin-top: 0;
  margin-bottom: 1rem;
}

.card-item p {
  color: var(--brown);
  margin-bottom: 0;
}

.card-number {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, Tahoma, sans-serif;
  line-height: 1;
  color: var(--brown);
}

.pb-0 {
  padding-bottom: 0;
}

@media (max-width: 1110px) {
  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 50px 2vw;
  }

  .header-title {
    display: flex;
    flex-direction: column-reverse;
  }

  .image-aside {
    position: static;
    height: initial;
    max-width: 100%;
  }

  .video-image {
    width: 90vw;
    height: initial;
  }

  .video-section::before {
    content: '';
    height: 12%;
    bottom: 6%;
  }

  .grid-3col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*gap: 2.7%;*/
  }
}

@media (max-width: 768px) {
  .grid-2col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.7%;
  }

  .grid-3col {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*gap: 2.7%;*/
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 21px;
  }

  .container {
    padding: 30px 4vw;
  }

  .mb-20-mobile {
    margin-bottom: 20px;
  }
}